body {
  font-family: Arial, sans-serif;
  background-color: #a9c29a9c;
  margin: 0;
  padding: 0;
}

#imgs_login {
  display: flex;
  justify-content: right;
  padding: 1%;
}

select {
  width: 150px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ffffff;
}

button {
  padding: 8px 15px;
  margin-right: 5px;
  cursor: pointer;
}

#criar_temperatura {
  text-align: center;
  justify-content: center;
}

#opcoes {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 50px;
}
