<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/template/style/style_create_uer.css" />
  </head>
  <body>
    <div class="container">
      <a href="index.html"
        ><img src="../imgs/sair X.png" alt="" width="30px"
      /></a>
      <h2>Preencha todos os campos abaixo:</h2>
      <form>
        <input type="text" placeholder="Nome" required />
        <input type="text" placeholder="Sobrenome" required />
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Nova Senha" />
        <input type="password" placeholder="Confirmar Nova Senha" />
        <a href="home_data.html"><input type="button" value="Salvar Alterações">
      </form>
    </div>
  </body>
</html>
