<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Time</title>
    <link rel="stylesheet" href="/template/style/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Weather Time</h1>
      <h2>Saiba do tempo, antes dele chegar até você</h2>
      <form action="home_data.html">
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>
      <a href="forgot_password.html">Esqueci minha senha</a>
      <a href="create_user.html">Crie uma conta</a>
    </div>
  </body>
</html>
